build/
build_clangd/
bin/

__pycache__/
*.pyc
*.pyo
*.pyd

.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

*.obj
*.pdb
*.ilk
*.exp
*.lib

*.o
*.a
*.so
*.dylib

venv/
env/
.env

.vs/
.vscode/
*.user

.cursor/
.claude/
.copilot/
